[Unit]
Description="uwsgi {{ name }}"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User={{ pillar.elife.webserver.username }}
Group={{ pillar.elife.webserver.username }}
KillSignal=SIGQUIT
Type=notify
Restart=on-failure
Environment="LANG=en_US.UTF-8"
{% if pillar.elife.newrelic.enabled and not disable_newrelic %}
Environment="NEW_RELIC_CONFIG_FILE={{ folder }}/newrelic.ini"
ExecStart={{ folder }}/venv/bin/newrelic-admin run-program {{ folder }}/venv/bin/uwsgi --enable-threads --ini {{ folder }}/uwsgi.ini --socket /var/run/uwsgi/{{ name }}.socket --logto /var/log/uwsgi-{{ name }}.log
{% else %}
ExecStart={{ folder }}/venv/bin/uwsgi --ini {{ folder }}/uwsgi.ini --socket /var/run/uwsgi/{{ name }}.socket --logto /var/log/uwsgi-{{ name }}.log
{% endif %}
