[Unit]
Description=gearman job control server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=/usr/bin/install -d -o gearman /run/gearman
PermissionsStartOnly=true
User=gearman
Restart=always
PIDFile=/run/gearman/server.pid
ExecStart=/usr/sbin/gearmand --config-file /etc/gearman.conf
