[Unit]
Description="fakes3 on http://localhost:4000"
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
User={{ pillar.elife.deploy_user.username }}
ExecStart=/usr/local/bin/fakes3 -r /home/{{ pillar.elife.deploy_user.username }}/fakes3 -p 4000
